build/*.cpp
build/*.o
build/*.c
build/*.h
build/*.ui
build/StockTicker 
StockTicker/StockTicker.pro.user
StockTicker/unittests/Tests
*.o
StockTicker/unittests/moc_*.cpp
StockTicker/unittests/ui_*.h
StockTicker/unittests/moc_*.h
StockTicker/unittests/.qmake.stash
StockTicker/unittests/unittests
StockTicker/unittests/build/unittests
StockTicker/unittests/build/*.cpp
StockTicker/unittests/build/*.o
StockTicker/unittests/build/*.h
StockTicker/unittests/MS-unittests.pro.user
StockTicker/.qmake.stash
*~
StockTicker.pro.user.4.10-pre1
