[Desktop Entry]
Version=0.2
Name=MiniStocks
Comment=A minimalistic QT5 stock ticker for Linux
Type=Application
Icon=ministocks
Terminal=false
Exec=ministocks
Categories=Utility;Finance;
